.transaction-details {
    position: relative;
    height: 80vh;
    top: 20%;
    width: 600px;
    margin: 0 auto;
    padding: 80px;
    border: 2px solid #ccc;
    border-radius: 4px;
  }
  
  h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 40px;
  }
  
  .detail-row {
    display: flex;
    margin-bottom: 10px;
  }
  
  .label {
    flex: 0 0 150px;
    font-weight: bold;
  }
  
  .value {
    flex: 1;
  }
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center;
  }
  